{% extends 'base.html' %}
{% block content %}
<div class="col-lg-10 offset-lg-1 main-box user-info">
    <h2>GitHub profile</h2>
    <div class="user-profile">
        <div class="user-info-div">
            <h3>{{ user_info['name'] }}</h3>
            <p><strong>Username: </strong>{{ user_info['login'] }}</p>
            <p><strong>Bio: </strong>{{ user_info['bio'] }}</p>
            <p><strong>Repositories: </strong>{{ user_info['public_repos'] }}</p>
            <p><strong>Followers: </strong>{{ user_info['followers'] }}</p>
            <p><strong>Following: </strong>{{ user_info['following'] }}</p>
            <p><strong>Located at: </strong>{{ user_info['location'] }}</p>
            <a href="http://github.com/alantelles" target="_blank"><button class="btn btn-primary" type="button">Visit profile</button></a>
        </div>
        <div class="photo-div">
            <img class="profile_pic" src="{{ user_info['avatar_url'] }}" alt="">
        </div>
    </div>
    
</div>
{% endblock  %}